<h1>Listing statuses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statuses.each do |status| %>
      <tr>
        <td><%= status.name %></td>
        <td><%= status.content %></td>
        <td <button type="button" class="btn btn-success">Success </button><%= link_to 'Show', status %></td>
        <td <button type="button" class="btn btn-warning">Warning </button><%= link_to 'Edit', edit_status_path(status) %></td>
        <td <button type="button" class="btn btn-danger">Danger </button><%= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<em <button type="button" class="btn btn-inverse"></button><%= link_to 'New Status', new_status_path %></em>
